body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.parent-container {
  width: 720px;
  border: 1px solid black;
  margin-right: auto;
  margin-left: auto;
}

.child-container {
  border: 1px solid black;
  height: 200px;
  width: 200px;
  margin: auto;
  margin-bottom: 20px;
}

p {
  font-weight: bold;
}